body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
.header {
    width: 100%;
}
.header .top-bar {
    background-color: #228B22; /* Lighter green color */
    color: white;
    padding: 40px 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
}
.header .top-bar img {
    position: absolute;
    left: 20px;
    top: 0px; /* Move the logo up a bit */
    height: 140px; /* Increased logo size */
}
.header .bottom-bar {
    background-color: #32CD32;
    height: 10px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); /* Adjusting for header height */
    width: 100%;
    margin-top: -50px; /* Moving the box closer to the header */
}
.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}
.login-form label {
    margin-bottom: 5px;
    display: block;
}
.login-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left; /* Ensure text is left-aligned */
    autocomplete: off; /* Disable autocomplete */
}
.login-form button {
    width: 50%;
    padding: 10px;
    background-color: #228B22; /* Lighter green color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button */
}
.login-form button:hover {
    background-color: #32CD32;
}
